<!-- <div class="container" *ngIf="browseMode">
  <div class="mb-3">
    <input class="form-control" type="file" id="folderContaner" hidden (change)="handleFileInput()" #folderPortal>
    <label class="custom-file-label" for="formFileMultiple" (click)="handleFileInput()">Choose paernt folder of micro-frontends</label>
  </div>
</div>
<div class="loader" *ngIf="!browseMode">...Processing the folders</div> -->

 <div class="container-fluid min-vh-100 d-flex flex-column">
  <div class="row">
      
        
      
  </div>
  <div class="row flex-grow-1">
      <div class="col-4 border p-0 border-top-0">
        <div class="list-group width-100">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Import the project folder.</h5>
               <!-- <small class="text-muted">3 days ago</small> -->
            </div>
            <p class="mb-1">You have to import the project folder to process. Its time to drop coffee beans to dispenser.</p>
            <small>You can select one or more folders to drive em up!!!</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Select the command to execute as you wish.</h5>
              <!-- <small class="text-muted">3 days ago</small> -->
            </div>
            <p class="mb-1">How about to select the commands listed here. Its time to select cappuccino or Latte. </p>
            <small class="text-muted">What you have in the script section of package json file is the key!!!</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Get the project executed as the process or reload the same.</h5>
              <!-- <small class="text-muted">3 days ago</small> -->
            </div>
            <p class="mb-1">Witness the process done. Just sit back and relax with your coffee and get a refill when you really need it.  </p>
            <small class="text-muted">Hurray, you made it, say goodbye to stacked cmd prompt windows!!!</small>
          </a>
        </div>
      </div>
      <div class="col-8 border">
        <div class="d-flex justify-content-center align-self-center h-100 align-middle" > 
            <span class="mb-3 align-self-center" *ngIf="!selectMode">
              <input class="form-control" type="file" id="folderContaner" hidden  #folderPortal>
              <label class="btn btn-lg btn-primary p-2" for="formFileMultiple" (click)="handleFileInput()">Choose parent folder of apps</label>
            </span>

            <table class="table table-striped" *ngIf="_scriptOpitons.length">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">App Name</th>
                  <th scope="col">Command Opions</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let option of _scriptOpitons; let i=index;">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{option?.props?.name}}</td>
                  <td>
                    <select class="custom-select" #selected
                      (change)="executeCommand(selected.value, option.folderPath, i)">
                      <option selected>Select the script</option>
                      <option [value]="command.key" *ngFor="let command of option.props.scripts | keyvalue">
                        {{command.key}}</option>
                    </select>
                  </td>
                  <td>
                    
                    <span *ngIf="option.processState==='select'">Ready to execute</span>
                    <button type="button" class="btn btn-primary active btn-sm" 
                      *ngIf="option.processState==='refresh'"
                      [attr.disabled]="option.isProgress"
                      data-bs-toggle="button" autocomplete="off" >Reload</button>

                    <button type="button" class="btn btn-primary active btn-sm" 
                      *ngIf="option.processState==='refresh'"
                      [attr.disabled]="option.isProgress"
                      data-bs-toggle="button" autocomplete="off" >Stop</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        
      </div>
  </div>
</div>
